{% extends "plantilla.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="card card-info mx-4 my-4">
        <div class="card-header">
            <h1 class="card-title">EDITAR CLIENTE</h1>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-primary">Actualizar</button>
                <a href="{% url 'listarcliente' %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
